/*----------------------------------------------------------------------------------------*/
/*  使用方法
    在   index.html 文件
    <link rel="stylesheet" crossorigin href="./assets/index-RtECmQai.css"> 前
    插入
    <link rel="stylesheet" crossorigin href="./assets/index-new.css">
*/
/*----------------------------------------------------------------------------------------*/
/* 代理组卡片名称 桌面 文字 新版去除该类*/
/* .collapse .sm\:text-xl{font-size:1.1rem;line-height:1rem;letter-spacing:2px;color:#000080} */
/*----------------------------------------------------------------------------------------*/
/* 代理组卡片名称 文字 */
.collapse .text-lg{font-size:1.05rem;line-height:1rem;letter-spacing:2px;color:#000080}
/*----------------------------------------------------------------------------------------*/
/* 代理组卡片节点数量 文字 */
.pg-all{color:#696969}
/*----------------------------------------------------------------------------------------*/
/* 代理组卡片节点type 文字 */
/* .pg-type{color:#696969} */
/*----------------------------------------------------------------------------------------*/
/* 代理组卡片 网速 */
.collapse .shrink-0{font-size:.75rem;line-height:1rem;color:#4272FF}
/*----------------------------------------------------------------------------------------*/
/* 代理组卡片 延迟及闪电 */
.collapse .w-3{width:.9rem}
.collapse .z-10{background-color: hsl(205deg 20% 94% / 28%);min-width: 2rem}
/*----------------------------------------------------------------------------------------*/
/* 代理组卡片-节点选中 桌面 文字 */
.collapse .sm\:text-sm{font-size:.75rem;line-height: 1rem}
/*----------------------------------------------------------------------------------------*/
/* 代理组卡片-展开 框框 */
.collapse .rounded-md{height:auto;border-radius:.375rem}
/* .collapse .rounded-md{min-height: 2.54rem;border-radius:.375rem} */
/* .collapse .min-h-9{min-height: 2.56rem} */
/* .collapse .min-h-9{height:auto} */
/*----------------------------------------------------------------------------------------*/
/* 代理组卡片-展开 文字 */
.collapse .md\:text-sm{font-size:.75rem;margin-right:1rem;line-height:1rem;white-space:pre-line}
.collapse .text-xs{font-size:.75rem;line-height:1rem;white-space:pre-line}
/*----------------------------------------------------------------------------------------*/
/* 代理组卡片-展开 节点type 文字 */
/* .collapse-title .gap-2 .gap-1 .text-xs{color:#696969} */
.text-type-f{color:#696969}
.text-type-t{color:#FFFFFF}
.text-type-bottom {bottom: 0.01rem}
.text-type-right{right: 0.01rem}
/* .collapse .bottom-0{bottom:0.5rem} */
/* 代理组卡片 展开 节点type 文字压缩 */
.collapse .tracking-tight {letter-spacing: -0.07em}
/*----------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------*/
/* 代理组卡片-展开 测速闪电 */
.collapse .h-3{height: 1rem}
.collapse .collapse-content .w-3{width:.75rem}
/*----------------------------------------------------------------------------------------*/
/* 代理组卡片-展开 测速框框 离卡片高度 */
.collapse .top-1{top: 0.15rem}
.collapse .collapse-content .w-8{height:.85rem;width:2rem;}
/*----------------------------------------------------------------------------------------*/
/* 代理组卡片-展开 文字 节点名 选中*/
.collapse .text-primary-content{--tw-text-opacity: 1;color:#F8F8FF}
/*----------------------------------------------------------------------------------------*/
/* 代理组卡片-展开 文字 节点协议类型 选中*/
/* .collapse-content .flex .items-center{color:#9e985d} */
/*----------------------------------------------------------------------------------------*/
/* 代理组卡片-展开 小卡片鼠标悬停增大  去增大 v.1.24.0版本后不再修改
.collapse .sm\:hover\:scale-105:hover{--tw-scale-x: 1;--tw-scale-y: 1;transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}
*/ 
/*----------------------------------------------------------------------------------------*/
/* 代理组卡片-展开 节点框框 选中变样 */
.collapse .bg-primary{--tw-bg-opacity: 1;background:linear-gradient(103deg, #08090a, #49baf7)}
/*----------------------------------------------------------------------------------------*/
/* 节点红绿灯大小 */
.collapse .rounded-full{border-radius:9999px;width:12px;height:3px}
/*----------------------------------------------------------------------------------------*/
/* 节点选中红绿灯大小 */
.collapse .bg-white{--tw-bg-opacity: 1;width:8px;height:8px;background-color:#007bff}
/*----------------------------------------------------------------------------------------*/
/* 节点条形高度 */
.collapse .rounded-2xl{height:4px;border-radius:1rem}
/*----------------------------------------------------------------------------------------*/
/* 节点条形上下距 */
.collapse .py-2{padding-top:.438rem;padding-bottom:0rem}
/*----------------------------------------------------------------------------------------*/
/* 节点红绿灯-条 颜色 绿 */
.collapse .bg-low-latency{--tw-bg-opacity: 1;background-color: rgb(52 189 109 / var(--tw-bg-opacity, 1))}
/*----------------------------------------------------------------------------------------*/
/* 节点红绿灯-条 颜色 黄 */
.collapse .bg-medium-latency{--tw-bg-opacity: 1;background-color: rgb(234 179 8 / var(--tw-bg-opacity, 1))}
/*----------------------------------------------------------------------------------------*/
/* 节点红绿灯-条 颜色 红 */
.collapse .bg-high-latency{--tw-bg-opacity: 1;background-color: rgb(244 96 108 / var(--tw-bg-opacity, 1))}
/*----------------------------------------------------------------------------------------*/
/* 连接/日志/规则/代理网速 其他 文字大小 */
.flex .text-sm{font-size:0.78rem;line-height:1.25rem;letter-spacing:0.02rem}
/*----------------------------------------------------------------------------------------*/
/* 连接表格 分隔线 */
.drawer-content .table :where(thead tr,tbody tr:not(:last-child),tbody tr:first-child:last-child){border-bottom-width:1px;--tw-border-opacity: 1;border-bottom-color:oklch(0.54 0.19 136.99 / 0.93)}
/*----------------------------------------------------------------------------------------*/
/* 连接表格 表头文字 */
.drawer-content .table :where(thead,tfoot){white-space:nowrap;font-size:.75rem;line-height:1rem;font-weight:700;color:oklch(0.42 0.17 256.85)}
/*----------------------------------------------------------------------------------------*/
/* 日志 警告文字颜色 */
.absolute .card .text-warning{--tw-text-opacity: 1;color:#FFA500}
/*----------------------------------------------------------------------------------------*/
/* 日志 info文字颜色 */
.absolute .card .text-info{--tw-text-opacity: 1;color:rgba(14,165,233,var(--tw-text-opacity))}
/*----------------------------------------------------------------------------------------*/
/* 日志 error文字颜色 */
.absolute .card .text-error{--tw-text-opacity: 1;color:rgba(244,63,94,var(--tw-text-opacity))}
/*----------------------------------------------------------------------------------------*/
/* 规则页面 框框 文字 */
.text-r-type{display:inline-block;width:110px;margin-left:.3rem;margin-right:.3rem;line-height:1.45rem;color:#100000}
.text-r-name{display:inline-block;width:110px;margin-left:.3rem;color:#000080}
.text-r-arrow{display:inline-block;width:15px;margin-left:.3rem;color:#696969}
.text-r-proxy{display:inline-block;min-width: 4rem;margin-left:1.2rem;--tw-text-opacity:1;color:var(--fallback-p, oklch(var(--p) / var(--tw-text-opacity, 1)))}
/* .absolute .card .min-w-32{min-width: 4rem} */
.text-rp-name{display:inline-block;width:130px;margin-left:.3rem;margin-right:.3rem;line-height:1.726rem;color:#000080}
.text-rp-type{display:inline-block;width:195px;margin-left:.3rem}
.text-rp-btn{display:inline-block;margin-top:.1rem}
.relative .card .w-48{width: 25rem}
.text-r-number{display:inline-block;width:12px;color:#696969}
.text-p-number{display:inline-block;width:12px;color:#696969}
/*----------------------------------------------------------------------------------------*/
/* 剩余流量颜色 */
.collapse .progress{position:relative;width:100%;-webkit-appearance:none;-moz-appearance:none;appearance:none;overflow:hidden;height:.5rem;border-radius:var(--rounded-box, 1rem);background-color:#65bd69}
/*----------------------------------------------------------------------------------------*/
/* 主选中框框变样 桌面 */
.menu .menu li>*:not(ul,.menu-title,details,.btn):active,.scrollbar-hidden .menu li>*:not(ul,.menu-title,details,.btn).active,.menu li>details>summary:active{--tw-bg-opacity: 1;background:linear-gradient(103deg, #08090a, #49baf7);--tw-text-opacity: 1;color:#F8F8FF}
/*----------------------------------------------------------------------------------------*/
/* 主选中框框变样 手机 */
.menu .menu li>*:not(ul,.menu-title,details,.btn):active,.drawer-content .menu li>*:not(ul,.menu-title,details,.btn).active,.menu li>details>summary:active{--tw-bg-opacity: 1;background:linear-gradient(103deg, #08090a, #49baf7);--tw-text-opacity: 1;color:#F8F8FF}
/*----------------------------------------------------------------------------------------*/
/* 副选中框框变样 展开 */
.card .tabs-boxed :is(.tab-active,[aria-selected=true]):not(.tab-disabled):not([disabled]),.tabs-boxed :is(input:checked){--tw-bg-opacity: 1;background:linear-gradient(103deg, #08090a, #49baf7);--tw-text-opacity: 1;color:#F8F8FF}
/*----------------------------------------------------------------------------------------*/
/* 副选中框框变样 收起 */
.flex .tabs-boxed :is(.tab-active,[aria-selected=true]):not(.tab-disabled):not([disabled]),.tabs-boxed :is(input:checked){--tw-bg-opacity: 1;background:linear-gradient(103deg, #08090a, #49baf7);--tw-text-opacity: 1;color:#F8F8FF}
/*----------------------------------------------------------------------------------------*/
/* 选中拨钮颜色 */
.flex .toggle:checked,.toggle[aria-checked=true]{background-image:none;--handleoffsetcalculator: var(--handleoffset);--tw-text-opacity: 1;color:#3CB371}
/*----------------------------------------------------------------------------------------*/
/* 链接鼠标悬停 */
.table .hover\:\!bg-primary:hover{--tw-bg-opacity: 1 !important;background-color:#3CB371!important}
/*----------------------------------------------------------------------------------------*/
/* 悬停字体颜色 */
.table .hover\:text-primary-content:hover{--tw-text-opacity: 1;color:#FFFFFF}
/*----------------------------------------------------------------------------------------*/
/* 改善左列展开卡片抖动 */
.drawer-content .relative .overflow-y-auto{overflow-y: scroll}
.drawer-content .relative .collapse-content .overflow-y-auto{overflow-y: auto}
/*----------------------------------------------------------------------------------------*/
/* 选中下拉鼠标悬停 无用
.select:hover::after{background-color:#90ee90;background-image:linear-gradient(45deg,transparent 50%,#008000 50%),linear-gradient(135deg,#008000 50%,transparent 50%);}*/
/*----------------------------------------------------------------------------------------*/
/* 日志等级及筛选框样式 */
/* 等级 */
.w-logs-l{width:8rem;padding-left:.1rem;padding-bottom: .3rem;}
.scrollbar-hidden .card .w-logs-l{width:8rem;padding-left:.1rem}
/* 筛选 */
/* 菜单展开 */
.scrollbar-hidden .card .w-logs-f{width:19rem;padding-left:.1rem}
/* 收起 */
.w-logs-fh{width:24rem;padding-left:.55rem;padding-bottom: .3rem;}
/* 小屏模式 收起 */
.w-logs-fht{width:16rem;padding-left:.55rem;padding-bottom: .3rem;}
/* 代理组卡片-节点选中 手机 文字    暂不调整
.text-xs {
    font-size: .75rem;
    line-height: 1rem;
}
/*
.text-xs{
*/
/*----------------------------------------------------------------------------------------*/
/* 代理卡片条/点下方与边框之间的间距  桌面 v1.15.1修复后不再需要改
    .sm\:p-4 {
        padding: 1rem;
    }
/*
:p-4{padding:0rem}
*/
/*----------------------------------------------------------------------------------------*/
/* 代理卡片条/点下方与边框之间的间距  手机  桌面 v1.15.1修复后不再需要改
.p-2 {
     padding: .5rem; 
}
/*
.p-2{padding:.2rem .5rem}
*/
/*----------------------------------------------------------------------------------------*/
/* 框框大小 影响顶行
.flex-wrap {
    height: 12px;
    flex-wrap: wrap;
}
/*
.flex-wrap{height:12px;flex-wrap:wrap;
*/
/*----------------------------------------------------------------------------------------*/
/* 连接/日志/规则 主机 文字大小 
    .sm\:text-base {
        font-size: 0.8rem;
        line-height: 1.5rem;
    }
}
*/
/*----------------------------------------------------------------------------------------*/
/* 日志 时间文字颜色 会影响规则页面
.text-primary {
    --tw-text-opacity: 1;
    color: var(--fallback-p, oklch(var(--p) / var(--tw-text-opacity, 1)));
}
/*
.text-primary{color:#FF8C00
*/
/*----------------------------------------------------------------------------------------*/
/* 连接文字换行
.whitespace-nowrap {
    white-space: pre-line;
}
*/
/*----------------------------------------------------------------------------------------*/
/* 代理展开框框 .flex-wrap不做修改后此处亦无需修改
.rounded-md {
    height: auto;
    border-radius: .375rem;
}
/*
.rounded-md{height:auto;order-radius:.375rem;
*/
/*----------------------------------------------------------------------------------------*/
/* 规则文字左右距 
.w-20 {
    width: 7rem;
}
/*
.w-20{width:7rem;
*/
/*----------------------------------------------------------------------------------------*/
